/*
	Theme Name: Guardmaster
	Theme URI: http://templatation.com
	Author: Templatation
	Author URI: http://themeforest.net/user/templatation
	Description: A powerful theme for Security Agencies.
	Version: 2.2
	Text Domain: guardmaster-string
	License: Themeforest Split License.
	License URI: http://themeforest.net/licenses
	Tags: white, orange, custom-background, threaded-comments, translation-ready, custom-menu
*/




/*
 *
 * This is default style.css file that WordPress loads.
 * Its not recommended to put anything here, as this file will get overwritten when you update theme.
 * The styles for themes can be found in /assets/css/styles.css
 * If you want to just change few styles, then you can put your styles in wp-admin/theme-options/display-options.
 * If you want to do heavy modifications, please use a child theme. A blank child theme is supplied with your Themeforest download.
 *
 */

.awards{
	color:#000!important;
}

header.Olap {
  font-family: 'Roboto', sans-serif;
  position: absolute;
}
.header-nosticky header.no-Olap #navigation, header.sticky {
 /* position: fixed;*/
  position: relative;
  top: 0;
  left: 0;
}
.no-ttfmwrk header.no-Olap #navigation {
    background-color: #1f1f1f;
	color : #FFF!important;
}
.mainblock { padding-top: 70px; padding-bottom: 93px; }
.header-1.hdline_notset .mainblock, .header-1.hdline_notset.archive .mainblock { padding-top: 180px; }
.header-1.post-type-archive-product.hdline_notset .mainblock { padding-top: 225px; }
.header-1.single-product.hdline_notset .mainblock { padding-top: 250px; }
.header-2.hdline_notset .mainblock { padding-top: 180px; }
.header-2.hdline_notset.post-type-archive-product .mainblock { padding-top: 40px; }
.header-2.single-product.hdline_notset .mainblock { padding-top: 250px; }
.header-sticky.no-tpadd .mainblock { padding-top: 140px; }
.header-sticky.header-2.no-tpadd .mainblock { padding-top: 0px; }
.hdr-no-olap.hdline_notset.header-2.no-tpadd .mainblock { padding-top: 109px; }
.hdline_set .mainblock, .hdr-overlap .mainblock,
.header-sticky.no-tpadd.hdr-overlap .mainblock { padding-top: 0; }
.no-bpadd .mainblock { padding-bottom: 0; }

body.archive #mainblock h1.ml-title {
    text-align: left;
}

/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
    margin: 5px 20px 20px 0;
}
.vid-btn a{
	background-color : #ea6d26!important;
	color : #fff!important;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
.margin2020 { margin: 0 20px 20px 0; }
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}
dl.wp-caption { border: none; }
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
    font-size: 11px;
    margin: 0;
    padding: 0 4px 5px;
}
.gallery-caption { font-weight: bold; }
.bypostauthor {}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
.services-list{
	color : #000;
}
.nav ul {padding-left: 0;}
.fl { float: left; }
.fr { float: right; }
ol.commentlist,ul.children {list-style: none;padding-left: 0;}
.bdp-post-short-content{
	color:#000!important;
}
sidebar h2 .widgettitle{
	color: #000!important;
}
/* End of WordPress default styles */

/* Margins */
.tt_line{color:#333333;border-bottom: 1px solid #eeeeee; margin-bottom: 15px;}
.displayinblock { display: inline-block; }
.mtop20 { margin-top: 20px; }
.mbottom120 { margin-bottom: 120px; }
.mbottom70 { margin-bottom: 70px; }
.mbottom60 { margin-bottom: 60px; }
.mbottom40 { margin-bottom: 40px; }
.mbottom20 { margin-bottom: 20px; }
.mbottom30 { margin-bottom: 30px; }
.mbottom10 { margin-bottom: 10px; }
.mbottom5 { margin-bottom: 5px; }
.tt-mr15 { margin-right: 15px;}
.tt-mr60 { margin-right: 60px;}
.ptop30 { padding-top: 30px; }
.ptop50 { padding-top: 50px; }
.no-tpadd .mbottom70.tpadd { margin-bottom: 0;}

.section table {
    margin: 20px 0;
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: separate;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.section table th, .section table td {
    padding: 8px;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    vertical-align: top;
    text-align: left;
    line-height: 18px;
}
.section table thead:first-child tr:first-child th,
.section table tbody:first-child tr:first-child th,
.section table tbody:first-child tr:first-child td {
    border-top: 0;
}
body{
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
img {
    max-width: 100%;
    height: auto;
}

/* Form elements */
/* these common styles to be styled as per the theme look */
button, input, select, textarea {
    background-color: #fff;
    background-image: none;
    border-bottom: 3px solid #dddddd;
    border-radius: 0;
    border-right: 1px solid #dddddd;
    border-top: 1px solid #dddddd;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 50px;
    line-height: 33px;
    margin-bottom: 20px;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
input:focus, select:focus, textarea:focus {
    outline: 0;
    border-color: #ff974f;
}
#footer-wrap button, #footer-wrap input, #footer-wrap select, #footer-wrap textarea {
  border-color: #363637;
}
#footer-wrap input[type="reset"], #footer-wrap input[type="submit"] {
  border-color: #363637;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: #ff974f;
    border: medium none;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600 !important;
    height: 46px;
    line-height: 46px;
    margin-top: 30px;
    padding-bottom: 0;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
}
button:hover, html input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
    background: #2c2e30;
}
textarea { width: 100%; }
.page-numbers.dots { display: none; }

/* Sticky */

.sticky .post-title{
    position: relative;
}
.sticky .post-title a{
    padding-left: 25px;
}
.sticky .post-title a:before{
    color: #222;
    font-family: FontAwesome;
    font-size: 20px;
    content: '\f005';
    left: 0;
    position: absolute;
    top: 0;
}

/* Table */
table {
    border: 1px solid #ddd;
}
table th, table td {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    line-height: 18px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}


.video-title {text-align: center;}
.wpcf7-form select {
    z-index: 5555555;
    background: transparent;
    -moz-appearance: none;
}
.title-block h1 {
    color: #fff;
}
.section.start-section {
    text-align: center;
}

/* WPML styles */
.widget_icl_lang_sel_widget.widget li::after { display: none;}
.top-language{	float: left;margin-right: 20px; }
#lang_sel_click { display: block; }
#lang_sel, #lang_sel_click {
    background: none repeat scroll 0 0 #FFFFFF;
    border: medium none;
}
#lang_sel li, #lang_sel_click li  {
    width: 95px;
}
#lang_sel_click a, #lang_sel_click a:visited,
#lang_sel_click ul ul a, #lang_sel_click ul ul a:visited,
#lang_sel a, #lang_sel a:visited,
#lang_sel ul ul a, #lang_sel ul ul a:visited { border: none; line-height: 30px; color: #706A64 !important; }
#lang_sel_click ul ul,
#lang_sel ul ul { top: 30px; border:none; width: 95px; }
#lang_sel_click img.iclflag,
#lang_sel img.iclflag { float:left; top:10px; margin-right: 3px; }
#lang_sel_click li ul li img.iclflag,
#lang_sel li ul li img.iclflag { margin-right: 2px; }

#icl_lang_sel_widget #lang_sel_click ul ul li,
#icl_lang_sel_widget #lang_sel ul ul li,
#lang_sel_list.lang_sel_list_vertical a ,
#lang_sel_list.lang_sel_list_vertical ul { border:none !important; }
#lang_sel_list a, #lang_sel_list a:visited { font-size: 12px; line-height: 15px !important; }
ul.b #lang_sel_list { display: none;}
.menu-item-language img.iclflag { position: relative; top: -8px; }
.menu-item-language ul.submenu-languages img.iclflag { top: -5px; }
#lang_sel ul, #lang_sel li { padding: 0 !important; }
#tools ul.lang_sel_click:first-child li { padding: 0; }
#lang_sel{display:block;margin-top:2px;}
#lang_sel ul ul{z-index:100;}
#lang_sel li, #lang_sel_click li { width: auto; }

/* Common Comments styles */
.ml-title {
    color: #2c2e30;
    font-size: 22px;
    font-weight: 600;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 40px;
}
.comment-head .date {
    color: #666;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}
.comment-head .perma, .comment-head .edit {
    font-size: 12px;
}
.comment-text .name {
    font-size: 15px;
    line-height: 19px;
    text-transform: capitalize;
}

/* Hero shortcode classes */
.breadcrumb-area {
  background-position: center;
  background-size:cover;
  position: relative;
}
.breadcrumb-area.dark h1.tt-title { color: #333333; }
.breadcrumb-area.light h1.tt-title{ color: #ffffff; }
.overlay-clr {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
h1.tt-title {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}
.yt-breadcrumbs {
    background-color: transparent;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #888888;
}
.yt-breadcrumbs a{
    color: #888888;
}

/* Theme specific styles */

.post-picture img {
	max-width: 100%;
	display: block;
	height: auto;
	margin-top:auto;
	margin-bottom:auto;
}

.sidebar .title {
	font-size: 14px;
	font-weight: 800;
	color: #000000;
	text-transform: uppercase;
	padding-top: 0;
	margin-top: 0;
	padding-bottom: 0;

}

.sidebar .title::after {
	content: '';
	display: block;
	height: 2px;
	width: 30px;
	padding: 1px;
	border: 1px solid #ff974f;
	margin-top: 18px;
	margin-bottom: 30px;

}

.textwidget {
	font-size: 14px;
	padding: 0;
}

.sidebar .search-form  label {
	display: none;
}

.sidebar .widget_search{
	font-size: 14px;
	color: #2c2e30;
	border-radius: 0;
	width: 100%;
	border: 1px solid #ddd;
	border-bottom-width: 2px;
	position: relative;
}

.sidebar .widget_search:after {
/*
	content: "\f002";
	position: absolute;
	right: 17px;
	top: 16px;
	color: #ff974f;
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
*/
}



.sidebar .search-field {
	width: 100%;
	font-size: 14px;
	color: #2c2e30;
	padding: 12px;
	border:none;

}

.search-field {
    margin-bottom: 0;
}

.sidebar .search-field::-webkit-input-placeholder {color:#ABA9BB;}
.sidebar .search-field::-moz-placeholder          {color:#ABA9BB;}
.sidebar .search-field:-moz-placeholder           {color:#ABA9BB;}
.sidebar .search-field:-ms-input-placeholder      {color:#ABA9BB;}

.sidebar #searchsubmit {
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
	height: 50px;
	opacity: 0;
}

.widget {
	margin-bottom: 65px;
}

.widget_categories ul {
	margin-bottom: 0;
	padding-left: 0;
}

.widget_categories ul li {
	margin: 0;
	padding-left: 0;
	padding-right: 0;
	list-style-type: none;
	margin-bottom: 8px;
	padding-bottom: 8px;
	padding-top: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}

.widget_categories ul li a {
	color: #555555;
	font-size: 14px;

}

.widget_categories ul li a span {
	float: right;
}

.widget_categories ul li a:hover  {
	text-decoration: none;
	color: #ff974f;
}

.widget_categories ul li:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f0da";
	padding-right: 12px
}

.sidebar  ul li .picture {
	float: left;
	margin-right: 15px;
	width: 95px;
	height: 90px;
	overflow: hidden;
}

.sidebar  ul li .picture img {
	height: auto;
	width: 100%;
}

.sidebar .widget_true_top_widget  ul li {
	list-style: none;
	font-weight: 500;
	font-size: 12px;
	list-style-type: none;
	margin-bottom: 20px;
	padding-bottom: 20px;
	padding-top: 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ccc;
}

.sidebar .widget_true_top_widget  ul {
	padding-left: 0;
}

.sidebar .widget_true_top_widget  ul li .info {
	padding-left: 90px;
}

.sidebar .widget_true_top_widget  ul li a {
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: lowercase !important;
	line-height: normal;
}

.sidebar .widget_true_top_widget ul li a:first-letter {
	text-transform: uppercase !important;
}

.sidebar .date {
	font-family: 'Merriweather', serif;
	color: #888888;
	font-style: italic;
	font-size: 12px;
	padding-top: 12px;
}

.post-picture img {
	width: 100%;
	max-height: 400px;
}
.pt-cv-readmore {
    color:#000!important;
    background-color:#ea6d26 !important;
    border: none !important;
}

.blog .blog-post .post-contents {	
	padding-bottom: 30px;
	margin-bottom : 20px;	
}

.comment-form input[type=text], .comment-form textarea {
	display: block;
	text-transform: uppercase;
	width: 100%;
	height: 50px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-top-color: #dddddd;
	border-right-color: #dddddd;
	border-bottom-color: #dddddd;
	border-radius: 0;
	margin-bottom: 20px;
	border-left-width: 0.5px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.comment-form input[type=text]:focus, .comment-form textarea:focus {
	outline: none;
}

.comment-form textarea {
	height: 150px;
	padding-top: 12px;
}

.comment-form #submit {
	margin-top: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #ff974f;
	padding: 0;
	border-radius: 0;
	border: none;
	padding-left: 20px!important;
	padding-right: 20px!important;
	font-weight: 600!important;
	font-size: 12px;
	line-height: normal;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	display: inline-block;
	height: 46px;
	line-height: 46px;
}

.comment-form #submit:hover {
	background: #2c2e30;
 }

.comment_container {
	padding: 45px 0;
	border-bottom: 1px solid #e4e5e6;
}

.comment_container:last-of-type {
	border-bottom: 1px solid #e4e5e6;
 }

.avatar {
	float: left;
	margin-right: 15px;
}

.comment-head .date, .comment-head  .name{
	font-family: 'Merriweather', serif;
	color: #888888;
	font-size: 12px;
	font-style: italic;
}

.page-pagination li {
	list-style: none;
	float: left;
}

.page-pagination li.active a {
	z-index: 2;
	color: #fff !important;
	cursor: default;
	background-color: #2c2e30 !important;
	border: 1px solid #2c2e30;
}

.page-pagination li a{
	position: relative;
	float: left;
	margin-left: -1px;
	line-height: 1.42857143;
	color: #2c2e30;
	text-decoration: none;
	background-color: #fff;
	padding-top: 8px;
	padding-right: 16px;
	padding-bottom: 8px;
	padding-left: 16px;
	border: 1px solid #eeeeee;
	margin-left: 4px;
	margin-right: 4px;
	border-radius: 0;
}

.page-pagination li a:hover {
	background: #ff974f;
	color: #fff;
}

.page-pagination ul {
	display: table;
	margin: 0 auto;
}

#loader-wrapper {
	display: none;
}

.navbar-nav li {
	text-transform: uppercase;	
}
.navbar-nav li a {
	padding-right :15px;
	padding-left :15px;
}

.navbar-nav > .current-menu-ancestor > a,
.navbar-nav > .current_page_item > a {
	opacity: 1 !important;
	color: #fff;
	text-decoration: none ;
	border: 1px solid #323231 ;
	
}

footer h4.title {
	font-size: 14px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 0;
	margin-bottom: 0;
}

footer h4.title:after {
	content: '';
	height: 2px;
	width: 30px;
	padding: 1px;
	border: 1px solid #ff974f;
	margin-top: 12px;
	margin-bottom: 35px;
	display: block;
}

footer .searchform {
	padding-top: 30px;
}

footer .searchform  input{
	width: 220px;
	background: #2c2e30;
	padding: 8px 11px;
	border: 0;
	font-size: 15px;
	color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

footer .searchform .sbtn{
	display: block;
	position: absolute;
	right: 10px;
	top: 6px;
	background: none;
	border: none;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}

#search {
	position: relative;
}

#search  input {
	width: 100%;
}

.navbar-header .logo {
	display: none;
}


@media screen and (max-width:768px) {
	footer .widget{
		margin-bottom: 25px;
	}
	.navbar-header .logo {
		display: block;
	}
}

@media screen and (max-width:768px) {
	.post-picture img {
		width: 100% !important;
		height: auto !important;
		max-height: 100%;
	}
	.page-pagination {
		margin-bottom: 30px;
	}
}

.tagcloud a {
	font-size: 12px;
	color: #2c2e30;
	padding-top: 8px;
	padding-right: 14px !important;
	padding-bottom: 8px;
	padding-left: 14px !important;
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 8px;
	background-color: transparent;
	border: 2px solid #888888;
	font-weight: 600;
	text-transform: uppercase;
}

.tagcloud a:hover {
	text-decoration: none;
	color: #fff;
	background: #ff974f;
	border-color: #ff974f;
}

input:focus {
	outline: none;
}

.single-box {
	/*margin-top: 110px;*/
}

.universal .line, .universal .text  {
	margin: 0;
}
.center.herotext .line {margin-left: auto;margin-right: auto;}

.boxed-heading {
	width: 360px;
	height: 84px;
	background-image: url(assets/images/heading/header-box.png);
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


@media screen and (max-width:500px) {
	.boxed-heading {
		width: 270px;
		height: 70px;
		background-size: contain;
	}
}

.boxed-heading h2 {
	font-size: 20px;
	color: #2c2e30;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 0;
}

.boxed-heading h3 {
	font-size: 10px;
	color: #2c2e30;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.download-brochure {
	padding: 0;
}

.download-brochure .button {
	background-image: url(assets/images/download/btn.png);
}

.gm-list {
	margin: 0;
	padding: 0;
}

.gm-list li {
	list-style: none;
	padding-bottom: 6px;
	position: relative;
	padding-left: 20px;
}

.gm-list li i {
	position: absolute;
	left: 0;
	top: 5px;
}

.gm-list.no-icon li i{
	display: none;
}

.gm-list.no-icon li{
	padding-left: 0;
	list-style-type: decimal !important;
}

.block.video {
	position: relative;
}

.block.video .info-overlay {
	position: absolute!important;
	left: 40px;
	bottom: 0;
	right: 0;
	z-index: 1;
	text-align: left;
}

.block.video .icon {
	width: 46px;
	height: 46px;
	border-radius: 23px;
	text-align: center;
	color: #fff;
	opacity: 0.9;
	border: 3px solid #FFF;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	margin-bottom: 50px;
	line-height: normal;
	font-size: 17px;
	line-height: 2.4;
	float: left;
	margin-right: 12px;
}

.block.video .icon a {
	color: #fff;
}

.block.video .heading {
	font-size: 18px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
}

.block.video .description {
	font-family: 'Arial', serif;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 0;
	font-style: italic;
	width: 100%
}

.services-benefits li h2 {
	font-size: 22px;
}

.universal h1, .universal h2 {
	margin: 0;
}


.universal-2 {
	padding-left: 80px;
	position: relative;
}

@media screen and (max-width:500px) {
	.universal-2 {
		padding-left: 60px;
	}
}
.universal-2  .icon {
	position: absolute;
	left: 0;
	top: 12px;
	font-size: 50px;
}


.universal-2 h1 {
	font-size: 24px;
	color: #fff;
	font-weight: 900;
	margin-top: 0;
	padding-top: 0;
	text-transform: none;
	margin-bottom: 0;
}

.universal-2 h2 {
	font-family: 'Merriweather', serif;
	font-style: italic;
	font-size: 16px;
	color: #cccccc;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 0;
}

.universal .text {
	font-family: 'PT Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 26px;
	font-style: normal;
}

.universal .blq{

}

.universal .btn-orange {
	position: relative;
}

.universal .btn-orange i {
	position: absolute !important;
	right: -25px !important;
	top: -1px;
}

.btn-orange {
	display: inline-block;
}

.border-btn {
/*	border-right-style: solid !important;
	border-right-width: 1px !important;*/
}

.btn-gm {
	position: relative;
}

.btn-gm i {
	position: absolute !important;
	right: -38px !important;
	top: -1px;
}

.btn-gm.btn-small i {
	right: -25px !important;
}

.pricing-table-02 .block {
	position: relative;
}

.funfacts  .block .box {
	background: url("assets/images/box/box.png") no-repeat;
	background-size: contain;
}

.left-tm * {
	text-align: left !important;
}
.right-tm * {
	text-align: right !important;
}
.center-tm * {
	text-align: center !important;
}

.testimonials-carousel.testimonials .owl-dots{
	text-align: center !important;
	font-family: 'Arial' !important;
}
.mssTestimonial{
	font-family: 'Arial', serif !important;
}



.title-block_1 .line {
	margin-left: auto;
	margin-right: auto;
}
.title-block_1 h3 {
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-weight: 400;
	color: #888888;
	text-transform: none;
	font-style: italic;
	padding-bottom: 14px;
}

.title-block_1 h2 {
	font-size: 30px;
	font-weight: 900;
	color: #2c2e30;
	text-transform: uppercase;
	margin-top: 0;
}

.title-block_2 h3 {
	font-size: 10px;
	color: #2c2e30;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.title-block_2 h2 {
	font-size: 20px;
	color: #2c2e30;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 0;
}

.title-block_2 .description {
	font-size: 16px;
	color: #888888;
	margin-bottom: 30px;
}

.title-block_2 .boxed-heading {
	width: 360px;
	height: 84px;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

.title-block_3 h3 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 8px;
}

.title-block_3 h2 {
	font-size: 30px;
	font-weight: 900;
	margin-top: 2px;
	text-transform: uppercase;
}

.title-block_3 .description {
	font-size: 14px;
	color: #cccccc;
	padding-top: 20px;
	font-style: italic;
}

.title-block_4  h2 {
	font-size: 22px;
	color: #fff;
	font-weight: 900;
	text-transform: uppercase;
	padding-top: 0;
    margin-bottom: 5px;
}

.title-block_4  .description {
	font-size: 16px;
	color: #cccccc;
	font-style: italic;
}

.center-t {
	text-align: center !important;
}

.left-t {
	text-align: left !important;
}

.rigth-t {
	text-align: right !important;
}

.latest-news .picture img {
	max-width: 100%;
	height: auto !important;
}

.latest-news .btn-orange {
	position: relative;
}

.post-contents .button a {
	position: relative;
}

.post-contents .button a i {
	position: absolute !important;
	right: -15px !important;
	top: -1px;
}

.latest-news .btn-orange i {
	position: absolute !important;
	right: -15px !important;
	top: -1px;
}

.form-control:focus {
	outline: none !important;
}

.wpcf7-textarea {
	padding-top: 12px;
}

.wpcf7-submit{
	margin-top: 30px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #ff974f;
	padding: 0;
	border-radius: 0;
	border: none;
	padding-left: 20px!important;
	padding-right: 66px!important;
	font-weight: 600!important;
	font-size: 12px;
	line-height: normal;
	-webkit-transition: all .3s ease-in-out 0s;
	-moz-transition: all .3s ease-in-out 0s;
	-ms-transition: all .3s ease-in-out 0s;
	-o-transition: all .3s ease-in-out 0s;
	transition: all .3s ease-in-out 0s;
	display: inline-block;
	height: 46px;
}

.wpcf7-submit:hover {
	background-color: #2c2e30;
}

.btn-submit i {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	background-color: #2c2e30;
	border: 1px solid #2c2e30;
	padding-top: 16px!important;
	padding-bottom: 16px!important;
	padding-left: 20px!important;
	padding-right: 20px!important;
	margin-left: -66px!important;
	font-weight: 600;
	font-size: 12px;
	line-height: normal;
}

.pricing-table-01 {
	padding-top: 0;
	padding-bottom: 0;
}

.center-cont * {
	text-align: center !important;
}

@media screen and (max-width:400px) {
	.title-block_2 .boxed-heading {
		width: 270px;
	}
	.title-block_2 .boxed-heading h2 {
		font-size: 15px;
	}
}


.yikes-easy-mc-email  {
	background: #2c2e30 !important;
	padding: 8px 11px !important;
	border: 0 !important;
	font-size: 15px !important;
	color: #fff !important;
	border-radius: 6px !important;
}

.edit-link {
	display: none !important;
}

.EMAIL-label {
	padding-top: 30px;
}
@media (min-width:768px) {

	.header-2 #navigation { position: fixed; height: 109px; }
	.header-2 .logo { padding-left: 0; }
	.header-2 .top-contact { padding-top: 34px; padding-bottom: 34px; }
	.header-2 .navbar { position: absolute; top: 0; right: 50%; margin-right: -570px; background: transparent; border: 0; }
	.header-2 .navbar > .container { width: auto; padding-left: 0; padding-right: 0; }
	.header-2 .current_page_item a { }
	.header-2 #navigation .navbar-default ul.nav > li > a { opacity: 0.7; }
	.header-2 #navigation .navbar-default ul.nav > li:hover > a,
	.header-2 #navigation .navbar-default ul.nav > li.current-menu-item > a { color: #000 !important; opacity: 1; border: 1px solid #e5e5e5 !important; background-color: transparent; }
	.header-2 #navigation ul.nav > li { padding-bottom: 0; }
	.header-2 #navigation ul.nav > li > ul { z-index: 2; }
	.header-2 #navigation .navbar-default ul.nav > li > ul > li > a { color: #2c2e30 !important; opacity: 0.7 !important; }
	.header-2 #navigation .navbar-default ul.nav > li > ul > li > a:hover { color: #000 !important; opacity: 1 !important; }
	.header-2 #navigation .navbar-default ul.nav > li > ul { border: 1px solid rgba(0, 0, 0, .15); border-radius: 4px; border-top-left-radius: 0; border-top-right-radius: 0; margin-top: -1px; }
	.header-2 .top-search { float: left; margin-top: 4px; }
	.header-2 .top-search > div[class^='col-'] { float: none; width: 100%; padding-left: 0; padding-right: 0; }
	.header-2 .top-search .small-nav { margin-bottom: 0; }
	.header-2 .top-search .small-nav:after { content: ''; display: table; clear: both; }
	.header-2 .top-search .small-nav li { display: block; float: right; position: relative; padding: 0 !important; margin: 0; right: 0; font-size: 40px; cursor: pointer; height: 20px; width: 20px; color: #fff; margin-top: 10px; background-image: url(assets/images/search-2.png); background-repeat: no-repeat; background-position: center center; list-style-type: none; }
	.header-2 .top-search .small-nav .searchform { display: none; position: absolute; width: 300px; height: 30px; line-height: 30px; top: 18px; right: 0; cursor: default; z-index: 999; }
	.header-2 .top-search .small-nav .searchform .searchform { padding: 0; }
	.header-2 .top-search .small-nav .searchlink.open .searchform { display: block; }
	.header-2 .top-search .search-field { width: 100%; background: #ff974f; padding: 8px 11px; border: 0; font-size: 15px; font-weight: 600; color: #fff; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
	.header-2 .top-search .search-field::-webkit-input-placeholder { font-size: 15px; line-height: 30px; font-weight: 600; color: #fff; }
	.header-2 .top-search .search-field:-moz-placeholder { font-size: 15px; line-height: 30px; font-weight: 600; color: #fff; opacity: 0; }
	.header-2 .top-search .search-field::-moz-placeholder { font-size: 15px; line-height: 30px; font-weight: 600; color: #fff; opacity: 0; }
	.header-2 .top-search .search-field:-ms-input-placeholder { font-size: 15px; line-height: 30px; font-weight: 600; color: #fff; }
	.header-2 .top-search .searchsubmit { display: block; position: absolute; right: 0; top: 8px; width: 32px; height: 32px; background: url(assets/images/search-3.png) no-repeat center center; border: none; overflow: hidden; text-indent: -99999px; cursor: pointer; }
	.header-2 #navigation.smaller #tc { display: block; }
	.header-2 .navbar-collapse { padding-left: 0; padding-right: 0; }
}
@media (min-width:768px) and (max-width:1199px) {
	.header-2 .navbar { margin-right: -470px; }
	.header-2 .top-search .small-nav { padding-left: 15px; }
}
@media (min-width:768px) and (max-width:991px) {
	.header-2 #navigation { position: fixed; }
	.header-2 .navbar { margin-right: -360px; }
}
@media (max-width:767px) {
	.header-sticky .header-2 + .mainblock,
	.archive .header-2 + .mainblock { padding-top:73px; }
	.header-2 #navigation .navbar-default ul.nav > li:hover > a,
	.header-2 #navigation .navbar-default ul.nav > li.current-menu-item > a { color: #000 !important; opacity: 1; border: 1px solid #e5e5e5 !important; background-color: transparent; }
	.header-2 #navigation .navbar-default ul.nav > li > ul > li > a { color: #2c2e30 !important; opacity: 0.7 !important; }
	.header-2 #navigation .navbar-default ul.nav > li > ul > li > a:hover { color: #000 !important; opacity: 1 !important; }
	.header-2 .navbar-default ul.sub-menu { background: transparent; }
	.header-2 .navbar-toggle{margin-top:11.5px;margin-bottom:11.5px;}
	.header-2 .top-search{display:none;}
}
@media (min-width: 768px) {
 #navigation ul.nav li{
      white-space: nowrap;
 }
}
.comment .media-left{min-width:100px;}
.commentlist > .comment  > .children{padding-left:130px;}
.commentlist .children li.comment{margin-top:45px;padding-top:35px;margin-bottom:0;padding-bottom:0;border-top:1px solid #DDD;border-bottom:0;}
@media (max-width: 767px) {
	.comment .avatar{float:none;display:block;}
	.commentlist > .comment  > .children{padding-left:0;}
	.commentlist .children li.comment{margin-top:25px;padding-top:15px;}
}

.practice-v3-paginat{font-size:0;text-align:center;}
.practice-v3-paginat a,.practice-v3-paginat .active_page{display:inline-block;font-size:15px;line-height:1.42857143;color:#2c2e30;text-decoration:none;background-color:#fff;padding:8px 16px;border:1px solid #EEE;margin-left:4px;margin-right:4px;border-radius:0;}
.practice-v3-paginat a:first-child{border-top-left-radius:4px;border-bottom-left-radius:4px;}
.practice-v3-paginat a:last-child{border-top-right-radius:4px;border-bottom-right-radius:4px;}
.practice-v3-paginat a:hover{color:#fff;background-color:#2c2e30;border:1px solid #2c2e30;}

/* The End */

body.single-product .mainblock .product {
	margin-top: 250px;
}
body.single-product .mainblock .tt-prodloop .product {
	margin-top: 0;
}

.woocommerce .product p.price span.amount {
	font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #888888;
    font-weight: 600;
    padding-top: 10px;
}
.woocommerce .product .entry-summary p {
	font-size: 16px;
    color: #888888;
}
.woocommerce .product p.stock {
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #ff974f;
}
.woocommerce .product form.cart button[type='submit'], .woocommerce #review_form #respond .form-submit input {
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #ff974f;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff974f;
    border-bottom-color: #ff974f;
    border-left-color: #ff974f;
}
.woocommerce .product form.cart button[type='submit']:hover, .woocommerce #review_form #respond .form-submit input:hover {
	text-decoration: none;
    background-color: #2c2e30;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2c2e30;
    border-bottom-color: #2c2e30;
    border-left-color: #2c2e30;
}
.woocommerce div.product form.cart div.quantity input[type='number'] {
	height: 47px;
	border: 1px solid #dddddd;
	box-shadow: none;
	padding: 4px 5px;
	margin-right: 15px;
}
.woocommerce div.product .product_meta.fl span {
	display: block;
	margin-bottom: 5px;
}
.woocommerce div.product .product_meta.fl span.sku {
	display: inline-block;
	margin-bottom: 0;
}
body.single-product {
	background-color: #fff;
}
.woocommerce div.product .wc-tabs-wrapper {
	margin-top: 50px;
	margin-bottom: 100px;
}
.woocommerce div.product .wc-tabs-wrapper ul.tabs li.active a {
	color: #ff974f;
}
.woocommerce div.product .wc-tabs-wrapper ul.tabs li {
	text-transform: uppercase;
	background-color: #fff;
}
.woocommerce div.product .wc-tabs-wrapper ul.tabs li a {
	color: #cccccc;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.woocommerce div.product .wc-tabs-wrapper ul.tabs li a:hover {
	color: #ff974f;
}
.woocommerce div.product .wc-tabs-wrapper .panel h2 {
	font-size: 24px;
    color: #2c2e30;
    font-weight: 600;
    padding-bottom: 12px;
}
.woocommerce div.product .wc-tabs-wrapper .panel p {
    font-family: 'Merriweather', serif;
    font-size: 14px;
    color: #888888;
}
.woocommerce table.shop_attributes td {
	vertical-align: middle;
	padding-left: 25px;
}
.woocommerce div.product .wc-tabs-wrapper #respond .comment-title {
	display: none;
}
.woocommerce div.product .wc-tabs-wrapper #respond p label {
	font-family: 'Merriweather', serif;
    font-size: 16px;
    color: #888888;
}
.woocommerce div.product .wc-tabs-wrapper #respond textarea#comment {
	text-transform: uppercase;
    height: 150px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #dddddd;
    border-right-color: #dddddd;
    border-bottom-color: #dddddd;
    border-radius: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.woocommerce span.onsale{width:48px;height:48px;top:0;left:0;background:#E9663C;line-height:44px;padding:2px;border-radius:48px;overflow:hidden;}

.mainblock .product-grid {
	margin-bottom: 100px;
}
.mainblock .product-grid .product .one-item h3 {
	font-size: 14px;
    color: #2c2e30;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding: 40px 30px 20px 30px;
    line-height: 26px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover .one-item h3 {
	color: #fff;
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
}
.mainblock .product-grid .product .one-item a img {
	height: auto;
    max-width: 100%;
}
.mainblock .product-grid .product .one-item .img-block {
	width: 100%;
	text-align: center;
	border: 1px solid #eeeeee;
	background-color: #F7F7F7;
}

.mainblock .product-grid .product {
	margin-bottom: 50px;
}
body.archive {
	background-color: #fff;
}
.star-rating span {
	color: #ff974f;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover .star-rating span {
	color: #fff;
}
.mainblock .product-grid .product .star-rating {
	float: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.mainblock .product-grid .product .price-block {
	border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 40px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover .price-block {
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
	border-bottom: 1px solid #ff974f;
}
body.woocommerce .product span.price {
    font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #888888;
    font-weight: 600;
    padding-top: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover span.price {
color: #fff;
}
.mainblock .product-grid .product {
	position: relative;
}
.mainblock .product-grid .product .one-item .img-block {
	position: relative;
}
.mainblock .product-grid .product a.add_to_cart_button {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
	background-color: #fff;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 0;
	font-size: 0;
	background: url(assets/images/basket.png) no-repeat center center;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover a.add_to_cart_button {
	/*display: block !important;*/
	opacity: 1;
}

.mainblock .product-grid .product .one-item .img-block:after {
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .product-grid .product:hover .img-block:after {
	opacity: 0.5;
}
body.woocommerce .mainblock h1.page-title {
    font-size: 32px;
    color: #2c2e30;
    font-weight: 900;
    margin-top: 2px;
    text-transform: uppercase;
    text-align: center;
}
body.woocommerce .mainblock p.woocommerce-result-count {
	font-size: 22px;
    color: #2c2e30;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
body.woocommerce .mainblock form.woocommerce-ordering select {
    color: #000;
    text-decoration: none;
    border: 1px solid #e5e5e5;
    padding: 6px 16px;
}
body.woocommerce .mainblock form.woocommerce-ordering select option {
	padding-top: 8px;
}
body.woocommerce .s-dropdown {
	display: none;
}
body.single-product .mainblock .tt-prodloop .product {
	margin-top: 0;
}


/*RELATED*/
.mainblock .tt-prodloop {
	margin-bottom: 100px;
}
.mainblock .tt-prodloop .product .one-item .s-dropdown {
	display: none;
}
.mainblock .tt-prodloop .product .one-item h3 {
	font-size: 14px;
    color: #2c2e30;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding: 40px 30px 20px 30px;
    line-height: 26px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .one-item h3 {
	color: #fff;
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
}
.mainblock .tt-prodloop .product .one-item a img {
	height: auto;
    max-width: 100%;
}
.mainblock .tt-prodloop .product .one-item .img-block {
	width: 100%;
	text-align: center;
	border: 1px solid #eeeeee;
	background-color: #F7F7F7;
}

.mainblock .tt-prodloop .product {
	margin-bottom: 50px;
}
.mainblock .tt-prodloop .product:hover .star-rating span {
	color: #fff;
}
.mainblock .tt-prodloop .product .star-rating {
	float: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.mainblock .tt-prodloop .product .price-block {
	border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 40px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .price-block {
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
	border-bottom: 1px solid #ff974f;
}
.mainblock .tt-prodloop .product:hover span.price {
color: #fff;
}
.mainblock .tt-prodloop .product {
	position: relative;
}
.mainblock .tt-prodloop .product .one-item .img-block {
	position: relative;
}
.mainblock .tt-prodloop .product:hover a.add_to_cart_button {
	opacity: 1;
}

.mainblock .tt-prodloop .product .one-item .img-block:after {
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .one-item .img-block:after {
	opacity: 0.5;
}
.mainblock .related h2 {
	text-align: center;
	font-size: 28px;
    color: #2c2e30;
    font-weight: 400;
    margin-bottom: 32px;
}
.mainblock .one-item a:hover {
	text-decoration: none;
}

/*CART*/
#mainblock h1.ml-title {
	font-size: 32px;
    color: #2c2e30;
    font-weight: 900;
    margin-top: 2px;
    text-transform: uppercase;
    text-align: center;
}
body.woocommerce-cart {
	background-color: #fff;
}
tr.cart_item td a {
	text-align: center;
}
div.quantity input[type='number'] {
    height: 47px;
    border: 1px solid #dddddd;
    box-shadow: none;
    padding: 4px 5px;
    margin-right: 15px;
}
.cart_item div.quantity input[type='number'] {
	margin: 0 auto;
}
.woocommerce form thead tr th, .woocommerce form tbody tr td {
	text-align: center;
}
.woocommerce input[type='submit'], .wc-proceed-to-checkout a {
	font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #ff974f;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff974f;
    border-bottom-color: #ff974f;
    border-left-color: #ff974f;
}
.woocommerce input[type='submit']:hover, .wc-proceed-to-checkout a:hover {
	text-decoration: none;
    background-color: #2c2e30;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2c2e30;
    border-bottom-color: #2c2e30;
    border-left-color: #2c2e30;
}
.woocommerce table.cart .coupon input[type='text'] {
    font-weight: 600;
    font-size: 12px;
    width: 104px;
    border-radius: 3px;
    height: 46px;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #ff974f;
    font-weight: 600;
    line-height: normal;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff974f;
    border-bottom-color: #ff974f;
    border-left-color: #ff974f;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
	text-decoration: none;
    background-color: #2c2e30;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2c2e30;
    border-bottom-color: #2c2e30;
    border-left-color: #2c2e30;
}

/*CHECKOUT*/
.woocommerce .woocommerce-info {
	border-top-color: #2c2e30;
}
.woocommerce .woocommerce-info:before {
	color: #2c2e30;
}
.woocommerce-checkout .woocommerce form input {
	text-transform: uppercase;
    height: 50px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 3px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-top-color: #dddddd;
    border-right-color: #dddddd;
    border-bottom-color: #dddddd;
    border-radius: 0;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.woocommerce-checkout .woocommerce #order_review .place-order input[type='submit'] {
	font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #ff974f;
    padding-top: 14px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #ff974f;
    border-bottom-color: #ff974f;
    border-left-color: #ff974f;
}
.woocommerce-checkout .woocommerce #order_review .place-order input[type='submit']:hover {
	text-decoration: none;
    background-color: #2c2e30;
    color: #fff;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #2c2e30;
    border-bottom-color: #2c2e30;
    border-left-color: #2c2e30;
}

.woocommerce .line, .single-blog-title .line {
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 30px;
} 
.ml-title {
	padding-bottom: 15px;
}

/*PRODUCT SHORTCODE*/
.mainblock .tt-prodloop {
	margin-bottom: 100px;
}
.mainblock .tt-prodloop .product .one-item .s-dropdown {
	display: none;
}
.mainblock .tt-prodloop .product .one-item h3 {
	font-size: 14px;
    color: #2c2e30;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    margin: 0;
    padding: 40px 30px 20px 30px;
    line-height: 26px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .one-item h3 {
	color: #fff;
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
}
.mainblock .tt-prodloop .product .one-item a img {
	height: auto;
    max-width: 100%;
}
.mainblock .tt-prodloop .product .one-item .img-block {
	width: 100%;
	text-align: center;
	border: 1px solid #eeeeee;
	background-color: #F7F7F7;
}

.mainblock .tt-prodloop .product {
	margin-bottom: 50px;
}
.mainblock .tt-prodloop .product:hover .star-rating span {
	color: #fff;
}
.mainblock .tt-prodloop .product .star-rating {
	float: none;
	margin: 0 auto;
	display: block;
	margin-bottom: 20px;
}
.mainblock .tt-prodloop .product .price-block {
	border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 40px;
    text-align: center;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .price-block {
	background-color: #ff974f;
	border-left: 1px solid #ff974f;
	border-right: 1px solid #ff974f;
	border-bottom: 1px solid #ff974f;
}
.mainblock .tt-prodloop .product:hover span.price {
color: #fff;
}
.mainblock .tt-prodloop .product {
	position: relative;
}
.mainblock .tt-prodloop .product .one-item .img-block {
	position: relative;
}
.mainblock .tt-prodloop .product a.add_to_cart_button {
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%);
	color: #fff;
	background-color: #fff;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 0;
	font-size: 0;
	background: url(assets/images/basket.png) no-repeat center center;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover a.add_to_cart_button {
	opacity: 1;
}

.mainblock .tt-prodloop .product .one-item .img-block:after {
	content: '';
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .one-item .img-block:after {
	opacity: 0.5;
}
.mainblock .related h2 {
	text-align: center;
	font-size: 28px;
    color: #2c2e30;
    font-weight: 400;
    margin-bottom: 32px;
}
.mainblock .one-item a:hover {
	text-decoration: none;
}
.mainblock .tt-prodloop .product .price .amount {
	font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #888888;
    font-weight: 600;
    padding-top: 20px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    -ms-transition: all .3s ease-in-out 0s;
    -o-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}
.mainblock .tt-prodloop .product:hover .price .amount {
    color: #fff;
}

.widget.widget_gm_footer_connect ul li::before,
.widget.widget_gm_recent_posts ul li::before,
.widget.widget_tag_cloud ul li::before { display: none; }
.widget.widget_gm_footer_connect ul li,
.widget.widget_tag_cloud ul li { border-bottom: none; padding: 0; margin: 0; }
.widget.widget_gm_footer_connect ul li {  margin-bottom: 10px; }

.active-panel a:hover {
    color: #fff !important;
}

.sidebar .title {
    border-color:#ff974f;
}

.sidebar .title::after {
    border-color:inherit !important;
}

.blog .blog-post .post-contents .button a.btn-orange {
    color: #fff !important;
}
.blog .blog-post {
    margin-top:20px!important;
	padding-bottom:40px;
}
.blog .blog-post .post-contents .tt-single-tags {
    color: #000 !important;
}

.herotext .line,
.line,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.comments .line,.leave-a-reply .line {
    position: relative;
    background: #ff974f;
}

.herotext .line:after,
.line:after,
.owl-theme .owl-dots .owl-dot.active span:after,
.owl-theme .owl-dots .owl-dot:hover span:after,
.comments .line:after,.leave-a-reply .line:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    background: #fff;
}
.vc_row.wpb_row.vc_row-fluid.vc_row-no-padding {
    overflow: hidden;
}
body.single-product .mainblock .product{
    margin-top: 0px;

}
.woocommerce div.product form.cart .variations label{
    font-size: 18px;
    color: #888;
    text-transform: capitalize;
}
.woocommerce div.product form.cart .variations td.label{
    vertical-align:middle;
}
.woocommerce div.product form.cart .variations td{
    display: block;
    text-align: left;
}
.woocommerce div.product form.cart .variations select{
    margin-bottom:0;
}
.woocommerce div.product form.cart .price{
    display:block;
    margin-bottom:15px;
    padding-top:0;
}
.woocommerce .product form.cart button[type='submit']{
    padding-top: 0;
    padding-bottom: 0;
    line-height: 46px;
}
.gmcontactform{
    margin:0 -15px;
}
.gmcontactform p{
    float:left;
    width:50%;
    padding:0 15px;
    margin-bottom:20px;
}
.gmcontactform p input{
    width:100%;
    margin-bottom:0;

}
.gmcontactform br{
    display: none;
}
.gmcontactform textarea{
    height: 150px;
    margin-bottom:0;
}
.gmcontactform p:nth-child(3),.gmcontactform p:nth-child(4){
    width:100%;
}
.gmcontactform p:nth-child(5){
    display:inline-block;
    position:relative;
}
.gmcontactform p:nth-child(5) input{
    width:auto;
}
.gmcontactform p:nth-child(5) input:hover{
    background:#000;
}
.gmcontactform p:nth-child(5):after{
    content: "\f054";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #2c2e30;
    border: 1px solid #2c2e30;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gmcontactform .ajax-loader{
    display: none;
}

.gmcontactform .wpcf7-submit{
    margin-top:0;
    padding-top:0;
}
@media (max-width: 767px) {
    .gmcontactform p{width:100%;}
}
.woocommerce button.button.alt:disabled[disabled],
.woocommerce button.button.alt:disabled[disabled]:hover{
    background-color: #CCC;
    color: #fff;
    border-color: #ccc;
}
.woocommerce div.product .wc-tabs-wrapper ul.tabs li a{
    color: #AFAFAF;
}

@media (min-width: 768px){
    .header-2 #navigation .navbar-default ul.nav > li.current-menu-ancestor > a{
        color: #000 ;
        border: 1px solid #e5e5e5 ;
    }
}
.single-post.header-2 #navigation{
    -webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
    box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
@media (max-width: 991px) {
	.top-contact{
        position: relative;
        float: left;
        padding-top: 22px;
        z-index: 100;
	}
	#navigation.smaller #tc{
	    display:block;
	}
}
@media (max-width: 767px) {
	.hdr-overlap #navigation{
		display: block;
		position: relative;
		float:none;
		background:#000;
	}
}
a.btn-orange i{
	padding-top:15px;
	padding-bottom:15px;
}
.woocommerce-checkout .woocommerce form input[type="checkbox"],
.woocommerce-checkout .woocommerce form input[type="radio"]{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.woocommerce #rememberme{
    display: inline-block;
    margin:0 5px;
    padding-bottom: 0;
    vertical-align: top;
}
.funfacts .block .box{
	max-width:100%;
}

/* style shop page */
.woocommerce ul.products li.product{
    text-align: center;
    border: 1px solid #eeeeee;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.woocommerce ul.products li.product .onsale {
    top: 5px;
    right: auto;
    left: 5px;
    margin: 0;
}

.woocommerce span.onsale {
	position: absolute;
    width: 48px;
    height: 48px;
    top: 5px;
    left: 5px;
    background: #ff974f;
    line-height: 44px;
    padding: 2px;
    border-radius: 48px;
    overflow: hidden;
    text-align: center;
    color: #fff;
}

.woocommerce ul.products li.product .woocommerce-loop-product__title{
	font-size: 14px;
    color: #2c2e30;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px 30px;
    line-height: 26px;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.woocommerce ul.products li.product .price{
	font-family: 'Merriweather', serif;
    font-size: 18px;
    color: #888888;
    font-weight: 600;
    padding-top: 0;
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
}

.woocommerce a.button.add_to_cart_button{
	background-color: #ff974f;
	padding: 12px 18px;
    color: #fff;
    margin: 0px 0 15px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.woocommerce a.button.add_to_cart_button:hover{
    color: #ff974f;
    background-color: #fff;
}

.woocommerce ul.products li.product .price del {
    display: inline-block;
}

.woocommerce ul.products li.product:hover{
	background: #ff974f;
}

.woocommerce ul.products li.product:hover .woocommerce-loop-product__title,
.woocommerce ul.products li.product:hover .price{
	color: #fff;
}

.woocommerce ul.products li.product:hover a.button.add_to_cart_button{
	background-color: #5f4446;
}

.woocommerce div.product p.price{
	margin-bottom: 20px;
}

.woocommerce div.product div.images .flex-control-thumbs{
	margin-top: 15px;
}

.woocommerce-account-fields span{
	display: inline-block;
    margin-left: 25px;
    margin-top: 9px;
}

.woocommerce-info{
	padding: 1em 2em 1em 3.5em!important;
}
@media(max-width: 767px){
    .tt-mob-padding .vc_column-inner{
        padding-right: 15px!important;
        margin-top: 0!important;
    }

    .block.video {
        position: relative;
        margin-top: 25px;
    }
}
/* the end */