@charset "utf-8";
/* CSS Document */


/**
 * Styles
 */

.pif-has-gallery {
    position: relative;
}

.secondd-image {
    position: absolute;
    top:0;
    left:0;
    opacity:0;
}


 /**
 * Animation
 */
.animated{-webkit-animation-fill-mode:both;-moz-animation-fill-mode:both;-ms-animation-fill-mode:both;-o-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-duration:.5s;-moz-animation-duration:.5s;-ms-animation-duration:.5s;-o-animation-duration:.5s;animation-duration:.5s;}.animated.hinge{-webkit-animation-duration:1s;-moz-animation-duration:1s;-ms-animation-duration:1s;-o-animation-duration:1s;animation-duration:1s;}@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
    }   100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(0);
    }
}
@-moz-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -moz-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -moz-transform: translateY(0);
    }
}
@-o-keyframes fadeOutUp {
    0% {
        opacity: 1;
        -o-transform: translateY(0);
    }

    100% {
        opacity: 0;
        -o-transform: translateY(0);
    }
}
@keyframes fadeOutUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    -moz-animation-name: fadeOutUp;
    -o-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}
.select-boxes {
	width: 143px;
	margin: 0 auto 15px;
	list-style: none;
}
/* Main Style */
.switcher h3 {
	font-size:13px;
	margin: 1px 0 3px 0;
	color:#474646;
}

.switcher {
	background: #FBFBFB;
	width:128px;
	position:fixed;
	top:126px;
	z-index:20000;
	left:0px;
	border-radius: 0 0 4px 0;
	border:1px solid #ddd;
	font-family: 'TitilliumText22LMedium', Arial, sans-serif;
/*	-webkit-box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
	box-shadow:  0px 0px 4px 0px rgba(51, 51, 51, 0.4);
*/}

.switcher h2 {
	background: #DBDBDB;
	color: #888888;
	font-size: 15px;
	margin: 0;
	padding: 5px 0 4px 15px;
	line-height: 30px;
}

.switcher h2 a {
	background:url("switcher.png") no-repeat scroll left center transparent;
	display: block;
	height: 40px;
	position: absolute;
	right: -39px;
	text-indent: -9999px;
	top: -1px;
	width: 39px;
	outline:none;
	border-radius: 0 4px 4px 0;
}

.switcher .switcher-content {
	padding:5px 5px 0;
	overflow:hidden;
}


/* Color Box */
.switcher-box {
	height:auto;
	overflow:hidden;
	margin:2px 14px;
}

.switchinner {
    cursor: pointer;
    display: block;
    float: left;
    height: 23px;
    margin: 2px;
    width: 21px;
}
	
.orange {
	background: #EA7411;
	background: -webkit-gradient(linear, left top, left bottom, from(#E96E06), to(#EA7411));
	background: -moz-linear-gradient(top, #E96E06, #EA7411);
	background: -o-linear-gradient(#E96E06, #EA7411);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E96E06', endColorstr='#EA7411');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#E96E06',endColorstr='#EA7411')";
}
.pink {
	background: #b24c82;
	background: -webkit-gradient(linear, left top, left bottom, from(#c66699), to(#9c386e));
	background: -moz-linear-gradient(top, #c66699, #9c386e);
	background: -o-linear-gradient(#c66699, #9c386e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c66699', endColorstr='#9c386e');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#c66699',endColorstr='#9c386e')";
}
.cyan {
	background: #47B4B3;
	background: -webkit-gradient(linear, left top, left bottom, from(#47B4B3), to(#3EA4A3));
	background: -moz-linear-gradient(top, #47B4B3, #3EA4A3);
	background: -o-linear-gradient(#47B4B3, #3EA4A3);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47B4B3', endColorstr='#3EA4A3');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#47B4B3',endColorstr='#3EA4A3')";
}
.brown {
	background: #4f2b2d;
	background: -webkit-gradient(linear, left top, left bottom, from(#9d563a), to(#4f2b2d));
	background: -moz-linear-gradient(top, #9d563a, #4f2b2d);
	background: -o-linear-gradient(#9d563a, #4f2b2d);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9d563a', endColorstr='#4f2b2d');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9d563a',endColorstr='#4f2b2d')";
}
.voilet {
	background: #59637E;
	background: -webkit-gradient(linear, left top, left bottom, from(#59637E), to(#4C5670));
	background: -moz-linear-gradient(top, #59637E, #4C5670);
	background: -o-linear-gradient(#59637E, #4C5670);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59637E', endColorstr='#4C5670');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#59637E',endColorstr='#4C5670')";
}
.green {
	background: #9ECB32;
	background: -webkit-gradient(linear, left top, left bottom, from(#9ECB32), to(#86BD28));
	background: -moz-linear-gradient(top, #9ECB32, #86BD28);
	background: -o-linear-gradient(#9ECB32, #86BD28);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9ECB32', endColorstr='#86BD28');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#9ECB32',endColorstr='#86BD28')";
}
.blue {
	background: #69aacd;
	background: -webkit-gradient(linear, left top, left bottom, from(#7bb9da), to(#63a4c7));
	background: -moz-linear-gradient(top, #7bb9da, #63a4c7);
	background: -o-linear-gradient(#7bb9da, #63a4c7);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7bb9da', endColorstr='#63a4c7');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7bb9da',endColorstr='#63a4c7')";
}
.purple {
	background: #ab7dc3;
	background: -webkit-gradient(linear, left top, left bottom, from(#b78dcd), to(#9f6eb8));
	background: -moz-linear-gradient(top, #b78dcd, #9f6eb8);
	background: -o-linear-gradient(#b78dcd, #9f6eb8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b78dcd', endColorstr='#9f6eb8');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#b78dcd',endColorstr='#9f6eb8')";
}
.red {
	background: #c23c47;
	background: -webkit-gradient(linear, left top, left bottom, from(#cb5862), to(#ba2430));
	background: -moz-linear-gradient(top, #cb5862, #ba2430);
	background: -o-linear-gradient(#cb5862, #ba2430);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cb5862', endColorstr='#ba2430');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#cb5862',endColorstr='#ba2430')";
}
/* Background Box */
.bg {
	height:auto;
	overflow:hidden;
	margin-bottom:6px;
}


ul.cols {
    float: left;
    padding: 0 20px;
    text-align: center;
	margin: 0 0 10px 10px;
}
ul.cols li {
	float: left;
	display: inline;
	padding-left: 0;
	margin: 0 5px 5px 0;
}
ul.cols li a {
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px dotted #CCCCCC;
    color: #555555;
    display: block;
    font-size: 11px;
    padding: 5px 7px;
	text-decoration: none;
}
ul.cols li a:hover {
    background: none repeat scroll 0 0 #f6f6f6;
}



/*************************/
.demo_changer{ 
    z-index: 100000; 
    position: fixed;
    left: -180px;
    top: 205px;
}


.switchinner a {color:#7F7F7F;
	font-weight: 300;
	padding: 0;
	font-size:11px;
	margin: 0 20px;
	text-align: center;
	line-height: 1.5;
}


.demo_changer .demo-icon{
    background: none no-repeat scroll 4px 0 #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    float: right;
    font-size: 21px;
    height: 40px;
    width: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 0 3px 3px 0;
	position: relative;
	transform: rotate(0deg);
}

.demo_changer .demo-icon  i {


}

.form_holder p {color:#7F7F7F;}
.demo_changer .form_holder {
	background: #fff;
    float: right;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    width: 178px;
	padding: 25px 0;
	margin-bottom: 5px;
}

.demo_changer .form_holder p{
    padding:0 10px;
    font-size: 11px;
	text-align: center;
    margin-bottom: 5px;
}

.demo_changer .form_holder input{
    width: 55px;
	border-radius: 0 10px 10px 0;
	box-shadow: none;
}

.demo_changer .form_holder form{
    padding: 0 20px;
}

.color_display_2 {
   clear: both;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
	width:31px !important;
	height:31px;
    margin-bottom: 7px;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 0 2px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.29);
}

.color_display_2 a{
    color: #fff;
    text-decoration: none;
}

.color_display_2 a:focus,
.color_display_2 a:hover {
    color: #ededed !important;
    text-decoration: none;
}


.predefined_styles{
    padding:0;
}



@media only screen and (max-width: 480px) {
.demo_changer { display: none; }
} 

.switchinner a { width: 118px; }

#header.d #logo { top: 11px; }
#header.e #logo { top: 7px; }
#header.e #logo { margin-left: -170px; }
#header.e.TThdr { min-height: 350px; }
#header.f.TThdr { min-height: 165px; }
#header.f #logo { margin-left: -480px; }
#header.f.h #logo { margin-left: -476px; }
#header.f.h { min-height: 100px; }
a.bodybgswitch:hover { text-decoration: none;}
.bodybgswitch img { max-width: 20px; max-height: 20px; border: 1px solid #ddd; margin: 0 0 3px; }
body.bodybg1 {
    background-image: url("http://http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/grunge_wall.png") !important;
}
body.bodybg2 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/03.png") !important;
}
body.bodybg3 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/04.png") !important;
}
body.bodybg4 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/05.png") !important;
}
body.bodybg5 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/06.png") !important;
}
body.bodybg6 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/07.png") !important;
}
body.bodybg7 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/08.png") !important;
}
body.bodybg8 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/white_wall_hash.png") !important;
}
body.bodybg9 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/009.png") !important;
}
body.bodybg10 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/retina_wood.png") !important;
}
body.bodybg11 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/shattered.png") !important;
}
body.bodybg12 {
    background-image: url("http://justshop.templatation.com/wp-content/themes/justshop/images/bodybg/restaurant_icons.png") !important;
}
.normallink, .switchspan {
	display: block;
	color: #888;
    font-size: 11px;
}
.normallink.buy { color: #FE5454;}
.switchspan {
	line-height: 19px;
}
.switchspan a:hover{
	opacity:.75;transition:all .3s ease;
}
.switchspan.alignl { padding-top:15px;}
.colorpicker {
	width: 356px;
	height: 176px;
	overflow: hidden;
	position: absolute;
	background: url(colorpicker/images/colorpicker_background.png);
	font-family: Arial, Helvetica, sans-serif;
	display: none;
}
.colorpicker_color {
	width: 150px;
	height: 150px;
	left: 14px;
	top: 13px;
	position: absolute;
	background: #f00;
	overflow: hidden;
	cursor: crosshair;
}
.colorpicker_color div {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	height: 150px;
	background: url(colorpicker/images/colorpicker_overlay.png);
}
.colorpicker_color div div {
	position: absolute;
	top: 0;
	left: 0;
	width: 11px;
	height: 11px;
	overflow: hidden;
	background: url(colorpicker/images/colorpicker_select.gif);
	margin: -5px 0 0 -5px;
}
.colorpicker_hue {
	position: absolute;
	top: 13px;
	left: 171px;
	width: 35px;
	height: 150px;
	cursor: n-resize;
}
.colorpicker_hue div {
	position: absolute;
	width: 35px;
	height: 9px;
	overflow: hidden;
	background: url(colorpicker/images/colorpicker_indic.gif) left top;
	margin: -4px 0 0 0;
	left: 0px;
}
.colorpicker_new_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 213px;
	top: 13px;
	background: #f00;
}
.colorpicker_current_color {
	position: absolute;
	width: 60px;
	height: 30px;
	left: 283px;
	top: 13px;
	background: #f00;
}
.colorpicker input {
	background-color: transparent;
	border: 1px solid transparent;
	position: absolute;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #898989;
	top: 4px;
	right: 11px;
	text-align: right;
	margin: 0;
	padding: 0;
	height: 11px;
}
.colorpicker_hex {
	position: absolute;
	width: 72px;
	height: 22px;
	background: url(colorpicker/images/colorpicker_hex.png) top;
	left: 212px;
	top: 142px;
}
.colorpicker_hex input {
	right: 6px;
}
.colorpicker_field {
	height: 22px;
	width: 62px;
	background-position: top;
	position: absolute;
}
.colorpicker_field span {
	position: absolute;
	width: 12px;
	height: 22px;
	overflow: hidden;
	top: 0;
	right: 0;
	cursor: n-resize;
}
.colorpicker_rgb_r {
	background-image: url(colorpicker/images/colorpicker_rgb_r.png);
	top: 52px;
	left: 212px;
}
.colorpicker_rgb_g {
	background-image: url(colorpicker/images/colorpicker_rgb_g.png);
	top: 82px;
	left: 212px;
}
.colorpicker_rgb_b {
	background-image: url(colorpicker/images/colorpicker_rgb_b.png);
	top: 112px;
	left: 212px;
}
.colorpicker_hsb_h {
	background-image: url(colorpicker/images/colorpicker_hsb_h.png);
	top: 52px;
	left: 282px;
}
.colorpicker_hsb_s {
	background-image: url(colorpicker/images/colorpicker_hsb_s.png);
	top: 82px;
	left: 282px;
}
.colorpicker_hsb_b {
	background-image: url(colorpicker/images/colorpicker_hsb_b.png);
	top: 112px;
	left: 282px;
}
.colorpicker_submit {
	position: absolute;
	width: 22px;
	height: 22px;
	background: url(colorpicker/images/colorpicker_submit.png) top;
	left: 322px;
	top: 142px;
	overflow: hidden;
}
.colorpicker_focus {
	background-position: center;
}
.colorpicker_hex.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_submit.colorpicker_focus {
	background-position: bottom;
}
.colorpicker_slider {
	background-position: bottom;
}


#colorSelector, #colorSelector_2 {
	position: relative;
	width: 36px;
	height: 36px;
	background: url(colorpicker/images/select.png);
}
#colorSelector div,  #colorSelector_2 div {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 30px;
	height: 30px;
	background: url(colorpicker/images/select.png) center;
}
#colorSelector2 {
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 36px;
	background: url(colorpicker/images/select2.png);
}
#colorSelector2 div {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 28px;
	height: 28px;
	background: url(colorpicker/images/select2.png) center;
}
#colorpickerHolder2 {
	top: 32px;
	left: 0;
	width: 356px;
	height: 0;
	overflow: hidden;
	position: absolute;
}
#colorpickerHolder2 .colorpicker {
	background-image: url(colorpicker/images/custom_background.png);
	position: absolute;
	bottom: 0;
	left: 0;
}
#colorpickerHolder2 .colorpicker_hue div {
	background-image: url(colorpicker/images/custom_indic.gif);
}
#colorpickerHolder2 .colorpicker_hex {
	background-image: url(colorpicker/images/custom_hex.png);
}
#colorpickerHolder2 .colorpicker_rgb_r {
	background-image: url(colorpicker/images/custom_rgb_r.png);
}
#colorpickerHolder2 .colorpicker_rgb_g {
	background-image: url(colorpicker/images/custom_rgb_g.png);
}
#colorpickerHolder2 .colorpicker_rgb_b {
	background-image: url(colorpicker/images/custom_rgb_b.png);
}
#colorpickerHolder2 .colorpicker_hsb_s {
	background-image: url(/colorpickerimages/custom_hsb_s.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_h {
	background-image: url(/colorpickerimages/custom_hsb_h.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_hsb_b {
	background-image: url(/colorpickerimages/custom_hsb_b.png);
	display: none;
}
#colorpickerHolder2 .colorpicker_submit {
	background-image: url(colorpicker/images/custom_submit.png);
}
#colorpickerHolder2 .colorpicker input {
	color: #778398;
}
#customWidget {
	position: relative;
	height: 36px;
}

.colorpicker {
	z-index: 99999999999999;
}

.demo_changer .form_holder .color-title {
	font-size: 14px;
	font-weight: 800;
	color: #2c2e30;
	text-transform: uppercase;
	margin-bottom: 0;
}
.demo_changer .form_holder {
	text-align: center;
}

.switcherbutton {
	display: inline-block;
}
.switcherbutton a {
    background: #ff974f none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: auto;
    line-height: 1;
    margin: 10px 0 0;
    padding: 5px 10px;
    width: auto;
}
.switcherbutton a:hover {
	color: #fff ;
}

.col-col {
	text-align: center;
}


#colorSelector {
	margin-left: auto;
	margin-right: auto;
}
#colorSelector_2 {
	margin-left: auto;
	margin-right: auto;
}


.inner-color {
	background: #ff974f;
}

.color-box {
	overflow: hidden;
	max-width: 70%;
	margin: 0 auto;
}
